/default/.config/gtk-2.0/gtkfilechooser.ini

/default/.config/mutt/accounts/*

/default/.config/newsbeuter/cache.db
/default/.config/newsbeuter/history.cmdline
/default/.config/newsbeuter/history.search
/default/.config/newsbeuter/urls

/default/.config/nvim/bundle/
/default/.config/nvim/spell/

/default/.config/qutebrowser/bookmarks/
/default/.config/qutebrowser/quickmarks

/default/.config/syncthing/

/default/.config/gimp-2.8/

/default/.config/zsh/zsh-autosuggestions
/default/.config/zsh/zsh_history
default/.config/zsh/.zcalc_history

/default/.elinks/bookmarks
/default/.elinks/cookies
/default/.elinks/globhist
/default/.elinks/gotohist
/default/.elinks/searchhist

/default/.fonts/*

/default/.local/share/*
!/default/.local/share/applications/
/default/.local/share/applications/*
!/default/.local/share/applications/nvim_in_term.desktop

/default/.vim/spell/
/default/.vim/swapdir/
/default/.vim/undodir/

/default/.weechat/plugins
/default/.weechat/plugins.conf
/default/.weechat/script/plugins.xml.gz
/default/.weechat/weechat-discord
/default/.weechat/weechat.log

/default/bin/hugo
