set bell-style none
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set editing-mode vi
set enable-keypad on
set enable-keypad on
set mark-directories on
set mark-symlinked-directories on
set match-hidden-files on
set page-completions off
set print-completions-horizontally on
set revert-all-at-newline on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set show-mode-in-prompt on
set skip-completed-text on
TAB:menu-complete
C-A:beginning-of-line
C-E:end-of-line
C-U:unix-line-discard
