output VGA-1 transform 90
output VGA-1 position 0 0
output HDMI-A-1 position 1080 420

workspace $wp1 output VGA-1
workspace $wp2 output VGA-1
workspace $wp3 output VGA-1
workspace $wp4 output VGA-1
workspace $wp5 output VGA-1
workspace $wp6 output HDMI-A-1
workspace $wp7 output HDMI-A-1
workspace $wp8 output HDMI-A-1
workspace $wp9 output HDMI-A-1
workspace $wp0 output HDMI-A-1

exec swaymsg "workspace $wp2 ; layout splitv ; exec thunderbird"
exec swaymsg "workspace $wp3 ; layout splitv ; exec open_terminal_with_nvim term://zsh"
exec swaymsg "workspace $wp4 ; layout splitv ; exec open_terminal_with_nvim term://zsh"
exec swaymsg "workspace $wp5 ; layout splitv ; exec open_terminal_with_nvim term://zsh"
exec swaymsg "workspace $wp7 ; exec open_terminal_with_nvim term://zsh"
exec swaymsg "workspace $wp8 ; exec open_terminal_with_nvim term://zsh"
exec swaymsg "workspace $wp9 ; exec open_terminal_with_nvim term://zsh"
exec swaymsg "workspace $wp0 ; exec open_terminal_with_nvim term://zsh"

# These are last because they are the ones we want to focus
exec swaymsg "workspace $wp1 ; layout splitv ; exec firefox"
exec swaymsg "workspace $wp6 ; exec open_terminal_with_nvim term://zsh"
